/* Product Page Tweaks */

.resize {
width: 50px;
height: auto;
  }
.resize {
width: auto;
height: 200px;
  }

/* Change the color of each product name

*/
.ui-content > div:first-child p[id="powergain"]{
  color:#B22222;
  display: inline-block;
  font-size: 25px;
  font-family: "Time New Roman";
  font-weight: 200;
  }

.ui-content > div:nth-child(2) p[id="magnus"]{
  color: #ff1493;
  display: inline-block;
  font-size: 25px;
  font-family: "Time New Roman";
  font-weight: 200;
  }

.ui-content > div:nth-child(3) p[id="Teatino"]{
  color: #DC381F;
  display: inline-block;
  font-size: 25px;
  font-family: "Time New Roman";
  font-weight: 200;
}

.ui-content > div:nth-child(4) p[id="Undu"]{
  color: #43c6db;
  display: inline-block;
  font-size: 25px;
  font-family: "Time New Roman";
  font-weight: 200;
  }
.ui-content {
  padding-left: 140px;
  font-size: x-large;

  }
.ui-collapsible {
  width: 350px;
  display: inline-table;
  }
.ui-collapsible-heading-toggle {
  height: 221.11px;
}
.ui-collapsible-content {
  font-size: medium;
}
